@import '../../shared/styles/_vars.scss';

#PublisherDetails {
    h2 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 20px;
        span {
            font-size: 0.7em;
        }
    }
    .overview {
        color: $dark;
        font-size: 14px;
        ul {
            display: inline-block;
            list-style: none;
            vertical-align: top;
            width: 50%;
            li {
                width: 90%;
                line-height: 2.5;
                border-bottom: 1px solid $warm-grey;
                .tag {
                    background-color: $turquoise-green;
                    color: white;
                    border-radius: 4px;
                    padding: 3px 4px;
                    font-size: 0.8em;
                    line-height: 1;
                    display: inline-block;
                    margin-right: 8px;
                }
                .label {
                    display: inline-block;
                    width: 200px;
                }
            }
        }
    }
    ul.tabs {
        list-style: none;
        margin-top: 20px;
        li {
            display: inline-block;
            background-color: $light-gray;
            color: $greyish-brown;
            padding: 5px 15px;
            margin: 0 5px;
            &.active {
                background-color: $azure;
                color: white;
            }
        }
    }
}