@import '../../shared/styles/_vars.scss';

#Breadcrumb {
    height: 40px;
    background-color: $light-gray;
    padding-top: 25px;
    .title {
        display: inline-block;
        .address {
            padding-left: 10px;
            color: $warm-grey;
        }
        .title {
            color: $greyish-brown;
        }
    }
    .breadcrumb {
        color: $greyish-brown;
        float: right;
        ul {
            list-style: none;
            li {
                padding: 0 3px;
                max-width: 180px;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
            }
        }
    }
}