// colors

$aqua-green-two: #12e9a2;
$aqua-green: #14e9a3;
$azure: #00a3f5;
$dark-sky-blue: #33a2ee;
$dark: #1f252c;
$greyish-brown: #404040;
$turquoise-green: #00ee9c;
$turquoise-green-transparent: #00ee9c22;
$warm-grey: #999;
$white: #f0f0f0;
$light-gray: #f1f1f1;
$black75: #000000DD;
$telegram: #47b0d3;

// by use

$button-green: $aqua-green-two;
$background-color: $dark;
$link-color: $azure;
